<html>
<head>
<title>SignUp Success</title>
<style>
	div {
		color: #292929;
		text-align: center;
	}
</style>
</head>
<body>
<div>
	<h1>Sorry, your information is not enough!</h1>
</div>
</body>
</html>