<html>
<head>
<title>SignUp</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<style>
	form {
		margin: 50px auto;
	}
	.error {
		display: none;
		color: red;
	}
	</style>
	<script type="text/javascript" src='js/jquery.js'></script>
	<script type="text/javascript" src='js/formvalid.js'></script>
</head>
<body>
<form id='signup-form' class="form-horizontal" method='post'>
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="username" name="username" placeholder="Your username">
    	<br/><span class='error' id="username-error">This field is required</span>  
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-2">
      <input type="email" class="form-control" id="email" name="email" placeholder="Your email">
      <br/><span class='error' id="email-error">This field is required</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Send</button>
    </div>
  </div>
</form>
</body>
</html>