<html>
<head>
<title>SignUp Success</title>
<style>
	div {
		color: #292929;
		text-align: center;
	}
</style>
</head>
<body>
<div>
	<h1>Stay tuned <%=username%></h1>
	<h2>You have been signed up!</h2>
</div>
</body>
</html>